<h1>About Page</h1>

<p>As the largest highly valuable second hand shop in Europe,
  Thriftshop always has something to offer. On behalf of various parties, we sell second hand goods,
  as well as new products that we buy from bankrupt companies.
  Every month we place over 100,000 products on our site.
  We do our best every day to surprise you with special products at a low price. </p>
