
<div class="container" style="background-color: #D0E8E6">
  <div class="jumbotron jumbotron-fluid">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <h1>show products here</h1>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <h1>something here?</h1>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <h1>how about here? ;-)</h1>
  </div>
</div>
