
<div style="background-color: #D0E8E6">
  <div class="jumbotron jumbotron-fluid container">
    <h2>Popular Selections</h2>

      <div class="row">
        <% @products.each do |product| %>
        <div class="card col-sm-2" style="height:250; max-width:250">
          <div class="card-image-top">
            <%= link_to (image_tag product.image, class: "img-thumbnail"), product_path(product) %>
          </div>
          <div class="card-title text-primary">
            <%= product.name %>
          </div>
          <div class="card-body text-danger">
            € <%= product.price %>
          </div>
        </div>
        <% end %>
      </div>

  </div>
</div>
