<!-- <!DOCTYPE html>
<html>

  <head>
    <title> General sales conditions </title>
  </head> -->

  <body>

    <h1> General Sales Terms and Conditions Thriftshop </h1>
      <p> These General Terms and Conditions of the Dutch shopping Organization (hereafter: Thriftshop) have been drawn up in consultation with the Consumers' Association within the framework of the Coordination Group on Self-Regulatory Consultation (CZ) of the Social Economic Council and take effect on 17 Nov 2017. <br/>  Then the following conditions apply: </p>

      <h2> Article 1 – Definitions </h2>
        <ol>
            <li> <b>Additional agreement:</b> an agreement whereby the consumer acquires products,
              digital content and / or services in connection with a distance contract and these goods,
              digital content and / or services are provided by the entrepreneur or by a
              third party on the basis of an agreement between that third party and the entrepreneur; </li>
           <li><b> Cooling-off period: </b> the period within which the consumer can make use of his right of withdrawal; </li>
           <li> <b> Consumer:</b> the natural person who does not act for purposes related to his trade, business, craft or professional activity;</li>
           <li> <b> Duration contract: </b> an agreement that extends to the regular delivery of goods, services and / or digital content during a certain period; </li>
           <li> <b> Durable data carrier: </b> every device - including e-mail - that enables the consumer or entrepreneur to store information that is addressed to him in person in a way that future consultation or use during a period that is geared to the goal. for which the information is intended, and which allows unaltered reproduction of the stored information; Establishment address: Thriftshop BV, Sarphati Plaza, 5th floor Rhijnspoorplein 28, 1018 TX Amsterdam The Netherlands. </li>
       </ol>

     <h2> Article 2 – Applicability </h2>
        <ol>
           <li> These general terms and conditions apply to every offer made by the entrepreneur and to every distance contract that has been concluded between the entrepreneur and the consumer. </li>
        	 <li>Before the distance contract is concluded, the text of these general terms and conditions will be made available to the consumer. If this is not reasonably possible, the entrepreneur before the distance contract is concluded, indicate how the general terms and conditions at the entrepreneur can be seen and that they will be sent free of charge as soon as possible at the request of the consumer. </li>
        </ol>


    <h2> Article 3 – The offer </h2>
      <ol>
         <li> If an offer has a limited period of validity or is made subject to conditions, this will be explicitly stated in the offer.  </li>
         <li> The offer contains a complete and accurate description of the offered products, digital content and / or services. The description is sufficiently detailed to allow a proper assessment of the offer by the consumer. If the entrepreneur uses images, these are a true reflection of the offered products, services and / or digital content. Obvious mistakes or errors in the offer do not bind the entrepreneur. </li>
         <li> Each offer contains such information that it is clear to the consumer what rights and obligations are attached to the acceptance of the offer. </li>

    <h2> Article 4 - Right of withdrawal. </h2>
      <ol>
          <li> The consumer can terminate an agreement regarding the purchase of a product during a cooling off period of 14 days without giving any reason. The trader may ask the consumer about the reason for the withdrawal, but not to oblige him to state his reason (s).  </li>
          <li>The trader, its supplier, manufacturer or importer never limits the legal rights and claims that the consumer can enforce against the trader under the agreement if the trader has failed to fulfill his part of the agreement </li>
          <li> An extra guarantee is understood to mean every obligation of the entrepreneur, its supplier, importer or producer in which it assigns to the consumer certain rights or claims that go beyond what is legally required in the event that it has failed to fulfill its part of the agreement. </li>

      </ol>

    <h2> Article 5 - Duration cancellation </h2>
      <ol>
        <li> The consumer can terminate an agreement that has been concluded for an indefinite period and which extends to the regular delivery of products (including electricity) or services, at any time with due observance of the agreed cancellation rules and a notice period of no more than one month. </li>
        <li> The consumer can terminate an agreement that has been concluded for a definite period and which extends to the regular delivery of products (including electricity) or services, at any time by the end of the stipulated term, with due observance of the agreed cancellation rules and a notice period of at least highest one month. </li>
      </ol>

  </body>
<!-- </html> -->
