<h2>Your Cart</h2>

<p>Product name: </p>

<p>Quantity:
  <select id="product">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  <option>6</option>
</select></p>

<p>Total Price: </p>
