<div class="jumbotron">
  <h1><%= @product.name %></h1>

  <p>Price: € <%= @product.price %>
  <p>Description: <%= @product.description %></p>
  <p><%= image_tag @product.image %></p>
</div>


<button onclick="displayTotalAmount()" type="button" class="btn btn-primary btn-lg">Add to cart bitch!</button>


<div style="display: none;" id="onceHidden">

  <h1>We thought this is were customers can pick the amount of products</h1>

</div>
